/* NextBit HTML-5 Template */

@media only screen and (max-width: 1340px){

	.page-wrapper{
		overflow:hidden;	
	}
	
}

@media only screen and (max-width: 1140px){
	
	.page-wrapper{
		overflow:hidden;	
	}
	
	h3{
		font-size:30px;
	}
	
	h2{
		font-size:36px;
	}
	
	.cart-outer .table-outer{
		overflow-x: auto;
	}
	
	.shop-form .billing-inner,
	.shop-detail-section .content-column .inner-column,
	.sidebar-page-container .sidebar-side .sidebar,
	.internet-section-three .image-column .inner-column,
	.internet-section-three .content-column .inner-column,
	.internet-section-two .content-column .inner-column,
	.service-block .inner-box .text{
		padding:0;
	}
	
	.network-section .content-column .inner-column,
	.services-section .content-column .inner-column{
		padding-left:0;
	}
	
	.service-block .inner-box .border-one,
	.service-block .inner-box .border-two,
	.faq-section .image-column .pattern-layer,
	.price-block-two .price-list,
	.internet-section-two .image-column .icon-layer-one,
	.services-section .upper-section .service-block:nth-child(2) .inner-box::before,
	.services-section .upper-section .service-block:nth-child(2) .inner-box::after{
		display:none;
	}
	
	.services-section .content-column .bold-text{
		font-size:16px;
	}
	
	.price-block .lower-box{
		padding-left:20px;
		padding-right:20px;
	}
	
	.facility-section .sec-title .pull-right{
		width:100%;
	}
	
	.product-block .inner-box .name{
		font-size:18px;
	}
	
	.streaming-block .inner-box{
		padding:20px 20px;
	}
	
	.shop-detail-section .social-box a{
		margin-right:20px;
	}
	
	.news-block-two .inner-box .image{
		padding:20px 20px;
	}
	
	.blog-detail .inner-box blockquote{
		margin-left:0;
		margin-right:0;
	}

	.sidebar-page-container .comments-area .reply-comment{
		margin-left:0;
	}
	
	.facility-section .image-column .inner-column{
		padding-left:0;
	}
	
	.facility-block .inner-box .text{
		padding:0;
	}
	
}

@media only screen and (min-width: 768px){
	
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
	
}

@media only screen and (max-width: 1023px){
	
	.main-header .main-box .logo-box {
		position:relative;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		margin:0px;
		text-align:left;
	}
	
	.main-menu .navigation > li > a{
		font-size:14px;
	}
	
	.main-header .main-menu .navigation > li{
		margin-right:25px;
	}
	
	.main-header .header-upper .logo-box{
		margin: 0px;
		padding:0px;
	}
	
	.main-header .sticky-header .logo{
		padding:25px 0px 10px;
	}
	
	.main-header{
		position:relative;
	}
	
	.main-header .nav-outer{
		width:100%;
		padding-top:0px;
	}
	
	.main-menu .navigation > li > a{
		text-transform:capitalize;
	}
	
	.main-header .logo-box{
		padding-bottom:0;
	}
	
	.main-header .main-menu .navigation > li > a{
		padding:20px 0px;
	}
	
	.main-header .outer-box{
		padding:22px 0px;
	}
	
	.main-header .sticky-header .pull-right{
		width:100%;
	}
	
	h1{
		font-size:60px;
	}
	
	.services-section .content-column{
		order:1;
		margin-bottom:70px;
	}
	
	.services-section .image-column{
		order:2;
	}
	
	.internet-section:before{
		width:100%;
		background-image:none;
		background-color:rgba(255,255,255,0.60);
	}
	
	.internet-section .content-column{
		max-width:100%;
	}
	
	.movie-page-section .feature-block,
	.featured-section .feature-block{
		width:33.3333%;
	}
	
	.cta-section .title-column .inner-column{
		text-align:center;
	}
	.main-slider-two .pattern-layer-two,
	.main-slider-two .pattern-layer-one,
	.main-header .header-top .social-box::before{
		display:none;
	}
	
	.main-header .header-top .social-box li a:hover{
		color:#fff;
	}
	
	.header-style-two{
		top:0px;
	}
	
	.header-style-two .header-lower .inner-container{
		padding:0;
	}
	
	
	.internet-section-two .content-column,
	.network-section .content-column{
		order:1;
	}
	
	.internet-section-two .image-column,
	.network-section .images-column{
		order:2;
	}
	
	.price-block-two .inner-box{
		padding:0;
	}
	
	.price-block-two .title-box{
		position:relative;
	}
	
	.price-block-two .price-list{
		display:block;
	}
	
	.price-block-two .title-box{
		max-width:420px;
	}
	
	.internet-section-three .image-column .inner-column .transparent-image img{
		display:none;
	}
	
	.internet-section-three .image-column .overlay-box{
		position:relative;
	}
	
	.internet-section-three .image-column .overlay-box span{
		position:relative;
		left:auto;
		top:auto;
		margin:0;
	}
	
	.shop-detail-section .content-column{
		order:1;
		padding-bottom:30px;
	}
	
	.shop-detail-section .images-column{
		order:2;
	}
	
	.cart-table tbody tr .qty{
		padding-right:15px;
	}
	
}

@media only screen and (max-width: 767px){
	
	.header-upper .logo-outer {
		position:relative;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		width:100%;
		margin:0px;
	}
	
	.main-header .sticky-header .outer-box{
display: flex;
		right: 15px;
		left: auto;
		top:0px;
	}

.main-header .sticky-header .logo img {
width: 180px;
}
	
	.nav-outer .mobile-nav-toggler{
		display: block;
		margin: 0;
		padding: 8px 0;
		margin-left: 20px;
	}
	
	#navbarSupportedContent{
		display:block;
	}
	
	.mCSB_inside > .mCSB_container{
		margin-right:0px;
	}
	
	.main-header .outer-box{
		position:absolute;
		right:40px;
		margin-left:0px;
		padding:12px 0px;
	}

.main-header .lang-box {
margin-right: 15px;
font-size: 16px;
}
	
	.main-header .sticky-header .outer-box{
		padding:35px 0px;
	}
	
	.main-header .outer-box .cart-box .cart-panel{
		left:0px !important;
		right:auto;
		margin-top:40px;
	}
	
	.main-header .sticky-header .outer-box .cart-box .cart-panel{
		right:0px !important;
		left:auto !important;
	}
	
	.sidebar-page-container .comments-area .comment,
	.shop-page .prod-tabs .reviews-container .review-box{
		padding-left:0px;
	}
	
	.main-header .nav-outer .mobile-nav-toggler{
		display:block;
	}
	
	.facility-section .sec-title .text br,
	.main-slider .color-layer-two,
	.main-header .main-menu{
		display:none;
	}

	
	.main-slider .slide{
		padding:160px 0px 160px;
	}
	
	.main-slider .color-layer-one{
		transform:translateX(-50%) translateY(-55%) rotate(45deg)
	}
	
	.main-slider .color-layer-three{
		transform:translateX(-45%) translateY(-50%) rotate(45deg);
	}
	
	.facility-section .blocks-column .facility-block:nth-child(2n){
		transform:translateY(0px);
	}
	
	.movie-page-section .feature-block,
	.featured-section .feature-block{
		width:50%;
	}
	
	h2{
		font-size: 34px;
	}
	
	.main-footer .contact-info-list li{
		margin-right:30px;
	}
	
	.main-header .header-top .info li{
		font-size:14px;
	}
	
	.main-header .sticky-header .logo{
		padding: 0px;
	}
	
	h1 {
		font-size: 50px;
	}
	
	.price-block-two .title-box{
		max-width:100%;
		text-align:center;
	}
	
	.price-block-two .middle-content{
		min-height:auto;
		border:none;
	}
	
	.price-block-two .price-box{
		position:relative;
	}
	
	.team-block .inner-box .overlay-box-two .text,
	.price-block-two .title-box::before{
		display:none;
	}
	
	.team-block .inner-box .overlay-box-two .social-box{
		margin-top:15px;
	}
	
	.price-block-two .price-box{
		max-width:100%;
		text-align:center;
		padding-top:0;
		padding-bottom:50px;
	}
	
	h4{
		font-size: 20px;
	}
	
	.page-title{
		padding:100px 0px;
	}
	
	.services-section-three .sec-title .pull-left,
	.services-section-three .sec-title .pull-right{
		width:100%;
	}
	
	.news-block-two .lower-content{
		padding-left:0;
		padding-right:0;
	}
	
	.blog-detail .inner-box .two-column .image{
		margin-bottom:30px;
	}
	
	.sidebar-page-container .comments-area .comment-box .author-thumb{
		position:relative;
	}
	
}

@media only screen and (max-width: 599px){
	
	h1 {
		font-size: 40px;
	}
	
	.team-block .inner-box .overlay-box-two .text{
		display:block;
	}
	
	.sec-title .pull-left,
	.sec-title .pull-right{
		width:100%;
	}
	
	.cta-section .inner-container{
		padding:20px;margin-bottom: 25px;
	}
	
	.appointment-form .form-group{
		padding:0px;
	}
	
	.appointment-form .form-group button{
		position:relative;
		width:100%;
		margin-top: 10px;
	}
	
	.main-header .header-top .pull-left,
	.main-header .header-top .pull-right{
		width:100%;
		text-align:center;
	}
	
	.main-header .header-top .social-box{
		padding-top:0;
	}
	
	.main-footer .pattern-layer-one,
	.streaming-section .pattern-layer-two,
	.network-section .images-column .image-two{
		display:none;
	}
	
	.price-block-two .middle-content .middle-inner{
		padding:0;
	}
	
	.price-block-two .icon-list{
		position:relative;
		max-width:100%;
		padding-bottom:50px;
	}
	
	.price-block-two .price-list{
		padding-left:50px;
	}
	
	.sidebar-textwidget{
		padding:30px 25px;
	}
	
	.shop-detail-section .comments-area .comment{
		padding:0;
	}
	
	.shop-detail-section .prod-tabs .tab-btns .tab-btn{
		margin-bottom:20px;
	}
	
	.shop-detail-section .prod-tabs .tab-btns{
		margin-bottom:5px;
	}
	
	.shop-detail-section .comments-area .comment-box .author-thumb{
		position:relative;
		margin-bottom:20px;
	}
	
	.shop-detail-section .comments-area .comment-box .text{
		font-size:14px;
	}
	
	.gallery-tabs{
		padding-left:0;
	}
	
	.gallery-tabs .tab-btns{
		position:relative;
	}
	
	.gallery-tabs .tab-btns .tab-btn{
		display:inline-block;
	}
	
	.blog-detail .post-share-options .social-box{
		width:100%;
		margin-top:15px;
	}
	
	.blog-detail .post-share-options .social-box li{
		margin-left:0;
		margin-right:10px;
	}
	
	.error-section h1{
		font-size: 120px;
	}
	
	.contact-page-section .contact-form-box{
		padding-left:20px;
		padding-right:20px;
	}
	
	.cart-section .apply-coupon .form-group{
		margin-right:0px;
		width:100%;
	}
	
	.cart-section .apply-coupon .form-group input[type="text"]{
		width:100%;
	}
	
	.cart-section .totals-table .col{
		width:50%;
	}
	
}

@media only screen and (max-width: 479px) {
	
	h1 {
		font-size: 34px;
	}
	
	h2 {
		font-size: 28px;
	}
	
	h3 {
		font-size: 26px;
	}
	
	h5 {
		font-size: 20px;
	}
	
.about-welcome .image-column,
	h2 br,
	h3 br,
	.streaming-section .pattern-layer-one,
	.team-block .inner-box .overlay-box-two .text,
	.services-section .image-column .border-layer{
		display:none;
	}
	
	.movie-page-section .feature-block,
	.featured-section .feature-block{
		width:100%;
	}
	
	.newsletter-form .form-group{
		padding:0;
	}

	
	.main-header .sticky-header .outer-box .cart-box .cart-panel{
		right:-62px !important;
	}
	
	.main-footer .contact-info-list li{
		margin-right:0;
	}
	
	.network-section .network-list li strong{
		font-size:18px;
	}
	
	.shop-detail-section .comments-area .comment .comment-inner .rating{
		position:relative;
		right:0px;
		top:0px;
		margin:10px 0px;
	}
	
	.shop-detail-section .prod-tabs .tab-btns .tab-btn{
		width:100%;
		text-align:center;
		margin-right:0;
	}
	
	.sidebar-widget .widget-content{
		padding:22px 22px;
	}
	
	.sidebar-page-container .comments-area .comment-info .comment-time{
		position:relative;
		display:block;
		margin-top:10px;
	}
	
	.error-section h1{
		font-size: 80px;
	}
	
	.cart-section .apply-coupon .form-group .theme-btn{
		width:100%;
		margin-bottom:15px;
	}
	
	.cart-section .totals-table .col{
		font-size:16px;
	}
	
	.shop-order-box{
		padding:15px 15px 30px;
	}
	
	.shop-order-box .order-list li{
		font-size:12px;
		text-transform:capitalize;
	}
	
}





@media only screen and (max-width: 767px){ 
.mob-logo {
display:block;
}
.lines,
.about-home-3 ul,
.phone-box,
.main-header .outer-box .nav-btn,
.video-section-full-v2,
.desk-logo {
display:none;
}

.main-footer .social-box {
margin-top: 20px;
}

.custom-nav .owl-nav > div {
width: 35px;
height: 35px;
line-height: 35px;
font-size: 14px;
}


.main-footer {
padding: 0;
}


.default-form .form-group textarea {
font-size: 14px;
}

.news-block .inner-box h5,
.sec-title .title {
font-size: 15px;
}

.main-footer .widgets-section {

padding: 10px 0;}

.main-header .search-box-btn,
.phone-box a,
.main-header .lang-box a {
color:#fff;
}

.news-block .lower-content {
padding: 15px;
}


.main-header .logo-box .logo img {
width:150px;
}

.main-header .nav-outer {
border-top: 1px solid #eee;
}

.main-header .logo-box {
padding: 6px;
text-align: center;
}


.main-slider-two h1 {
font-size: 20px;
margin-bottom: 5px;
}

.sec-title h3,
.sec-title h2,
.cta-section .title-column h3 {
font-size: 18px;
}


.sec-title {
    margin-bottom: 20px;
}

.main-slider-two .text {
font-size: 15px;
margin-bottom: 5px;
}

.main-slider-two .content-boxed {
padding-top: 60px;
}

.main-slider-two .slide {
height: 350px;
}

.header-style-two {
top: 0px;
position: absolute;
border-bottom: 1px solid #fff3;
}

.main-slider-two .btns-box .theme-btn {
margin-right: 0;
margin-bottom: 0;
font-size: 13px;
padding: 4px 8px;
}

.main-slider-two .owl-nav .owl-prev, .main-slider-two .owl-nav .owl-next {
font-size: 25px
}

.main-slider-two .owl-nav .owl-prev {
margin-top: 0;
}


.portfolio-type-carousel .portfolio-item .a-img .sor-img {

    height: 250px;
}

.vid-box img {
height: 200px;
}

.faq-section .content-column .inner-column {
padding: 20px 15px;
}

.services-area,
.counter-area,
.news-section {
    padding: 20px 0 0;
}

.counter-item {
margin-bottom: 25px;
}

.single-howit-works {
margin-bottom: 15px;
}




.howit-works,
.about-welcome,
.portfolio-block,
.clients-section,
.store-section,
.shopByCategory {

    padding: 20px 0;

}


.portfolio-type-carousel .portfolio-item {
width: 100%;
max-width: 100%;}

.services-wrapper {
padding: 0;
}

.service1 {
width: 100%;
border-left: none;
margin-bottom: 25px;
}

.faq-section::before {
width: 100%;
}

.portfolio-type-carousel .portfolio-item .bottom-content h5 {
font-size: 18px;
}

.counter-item p {
margin-left: 0;
}

.counter-item {
display: block;
width: 100%;
padding: 0;text-align: center;
}

.counter-item i {
position: initial;
}


.default-form .form-group {
    position: relative;
    margin-bottom: 10px;
}


.widgets-section .widget_title {
padding: 0 0 15px 0;
margin: 0 0 15px 0;
}

.footer-logo,
.main-footer .footer-bottom {
margin-top: 5px;
}

.main-slider-two .owl-nav {
position: absolute;
    right: 15px;
    border: 0;bottom: 10px;
}

.main-slider-two .owl-dots {
    right: 15px;
    left: auto;
margin-top: 30px;
}


.sec-title .title {
margin-bottom: 5px;
}

.main-slider-two .owl-nav .owl-next {
margin-left:8px;
}

.main-slider-two .owl-dot.active {
padding-bottom:10px;
}

.main-slider-two .owl-dot:before {
margin-bottom: 10px;
}

.main-slider-two .owl-dot.active:after {
height: 10px;
}

.main-header .header-lower .nav-outer {
position: absolute;

float: right;

top: 15px;

right: 10px;

border: none;
}


.single-services i {
font-size: 40px;
margin-bottom: 5px;
}

.single-services h3 {
font-size: 20px;
}

.single-services p {
line-height: 22px;font-size: 14px;
    margin-bottom: 10px;
}

.single-services .count {
font-size: 50px;
}


.text, p {


    font-size: 14px;


}

}
